#box1 {
    height: 100px;
    width: 100px;
    background-color: green;
}

#box2 {
    height: 50px;
    width: 30%;
    background-color: yellow;
    margin-left: 10%;
}

#box3 {
    height: 100px;
    width: 100px;
    background-color: green;
    font-size: 10px;
}

#box4 {
    height: 50px;
    width: 30%;
    background-color: yellow;
    margin-left: 10%;
    font-size: 2em;            /*2 times of parents font size*/
    width: 3em;
}

#box5 {
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
    position: static;
    background-image: url("plane1.jpg");
    background-size: auto;
}

#box6 {
    height: 100px;
    width: 100px;
    background-color: lightblue;
    border: 2px solid black;
    display: inline-block;
    position: relative;
    top: 20px;
    left: 35px;
}

#box7 {
    height: 100px;
    width: 100px;
    background-color: red;
    border: 2px solid black;
    display: inline-block;
    position: absolute;
    top: 100px;          /*from top of the window/main div*/
}

#box8 {
    height: 100px;
    width: 100px;
    background-color: blanchedalmond;
    border: 2px solid black;
    display: inline-block;
    /* position: fixed;            fixed forever */
    right: 0px;
    top: 0px;            /*position relative to browser*/
}

#box9 {
    height: 100px;
    width: 100px;
    background-color: mediumaquamarine;
    border: 2px solid black;
    display: inline-block;
    /* position: sticky; */
    top: 0px;
}

#newdiv {
    height: 100px;
    width: 100px;
    background-image: url("plane1.jpg");
    background-size: auto;
    color: aqua;
    border-radius: 10%;
    position: fixed;
    right: 0px;
    top: 50%;

}